@if($latestPublications && $latestPublications->count())
    <x-homepage.default slug="latest-articles">
        <div class="homepage-block-latest-articles-header">
            <h2 class="homepage-block-latest-articles-title">
                {{ $latestPublicationsTitle }}
            </h2>
            @if ($latestPublicationsDescription)
                <p class="homepage-block-latest-articles-desc">
                    {!! ViewHelper::sanitizeHtml($latestPublicationsDescription) !!}
                </p>
            @endif
        </div>
        <ul class="homepage-block-latest-articles-list">
            @foreach ($latestPublications as $submission)
                <li class="homepage-block-latest-articles-list-item">
                    <x-eidostheme::article-summary
                        heading="h3"
                        :$submission
                        :$sections
                    />
                </li>
            @endforeach
        </ul>
    </x-homepage.default>
@endif
