{{--
    templates/frontend/pages/issue.tpl

    Copyright (c) 2014-2021 Simon Fraser University
    Copyright (c) 2003-2021 John Willinsky
    Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.

    @brief Display a landing page for a single issue. It will show the table of contents
     (toc) or a cover image, with a click through to the toc.

    @uses $issue Issue The issue
    @uses $issueIdentification string Label for this issue, consisting of one or
          more of the volume, number, year and title, depending on settings
    @uses $issueGalleys array Galleys for the entire issue
    @uses $primaryGenreIds array List of file genre IDs for primary types
--}}
@include('frontend.components.header', ['pageTitleTranslated' => $issueIdentification ?? null])

<div class="page page_issue">

    {{-- Display a message if no current issue exists --}}
    @if(!($issue ?? null))
        @include('frontend.components.breadcrumbs_issue', ['currentTitleKey' => 'current.noCurrentIssue'])
        <h1>
            {{ __('current.noCurrentIssue') }}
        </h1>
        @include('frontend.components.notification', ['type' => 'warning', 'messageKey' => 'current.noCurrentIssueDesc'])

    {{-- Display an issue with the Table of Contents --}}
    @else
        @include('frontend.components.breadcrumbs_issue', ['currentTitle' => $issueIdentification])
        <h1>
            {{ $issueIdentification }}
        </h1>
        @include('frontend.objects.issue_toc')
    @endif
</div>

@include('frontend.components.footer')
