{{--
    templates/frontend/components/navigationMenu.tpl

    Copyright (c) 2014-2021 Simon Fraser University
    Copyright (c) 2003-2021 John Willinsky
    Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.

    @brief Primary navigation menu list for the application

    @uses navigationMenu array Hierarchical array of navigation menu item assignments
    @uses id string Element ID to assign the outer <ul>
    @uses ulClass string Class name(s) to assign the outer <ul>
    @uses liClass string Class name(s) to assign all <li> elements
--}}

@if($navigationMenu ?? null)
    <ul id="{{ $id }}" class="{{ $ulClass ?? '' }} pkp_nav_list">
        @foreach($navigationMenu->menuTree as $field => $navigationMenuItemAssignment)
            @if(!$navigationMenuItemAssignment->navigationMenuItem->getIsDisplayed())
                @continue
            @endif
            <li class="{{ $liClass ?? '' }}">
                <a href="{{ $navigationMenuItemAssignment->navigationMenuItem->getUrl() }}">
                    {{ $navigationMenuItemAssignment->navigationMenuItem->getLocalizedTitle() }}
                </a>
                @if($navigationMenuItemAssignment->navigationMenuItem->getIsChildVisible())
                    <ul>
                        @foreach($navigationMenuItemAssignment->children as $childField => $childNavigationMenuItemAssignment)
                            @if($childNavigationMenuItemAssignment->navigationMenuItem->getIsDisplayed())
                                <li class="{{ $liClass ?? '' }}">
                                    <a href="{{ $childNavigationMenuItemAssignment->navigationMenuItem->getUrl() }}">
                                        {!! $childNavigationMenuItemAssignment->navigationMenuItem->getLocalizedTitle() !!}
                                    </a>
                                </li>
                            @endif
                        @endforeach
                    </ul>
                @endif
            </li>
        @endforeach
    </ul>
@endif
