{{--
    templates/frontend/objects/announcement_summary.tpl

    Copyright (c) 2014-2021 Simon Fraser University
    Copyright (c) 2003-2021 John Willinsky
    Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.

    @brief Display a summary view of an announcement

    @uses $announcement Announcement The announcement to display
    @uses $heading string HTML heading element, default: h2
--}}
@php
    $heading = $heading ?? 'h2';
@endphp

<article class="obj_announcement_summary{{ ($announcement->image ?? null) ? ' obj_announcement_summary_has_image' : '' }}">
    @if($announcement->image ?? null)
        <img
            class="obj_announcement_summary_image"
            src="{{ $announcement->imageUrl }}"
            alt="{{ $announcement->imageAltText }}"
        />
    @endif
    <div class="obj_announcement_summary_details">
        <{{ $heading }}>
            <a href="{{ ViewHelper::url(['router' => \PKP\core\PKPApplication::ROUTE_PAGE, 'page' => 'announcement', 'op' => 'view', 'path' => $announcement->id]) }}">
                {{ $announcement->getLocalizedData('title') }}
            </a>
        </{{ $heading }}>
        <div class="date">
            {{ $announcement->datePosted->format($dateFormatShort) }}
        </div>
        <div class="summary">
            {!! ViewHelper::sanitizeHtml($announcement->getLocalizedData('descriptionShort')) !!}
            <a href="{{ ViewHelper::url(['router' => \PKP\core\PKPApplication::ROUTE_PAGE, 'page' => 'announcement', 'op' => 'view', 'path' => $announcement->id]) }}" class="read_more">
                <span aria-hidden="true" role="presentation">
                    {{ __('common.readMore') }}
                </span>
                <span class="pkp_screen_reader">
                    {{ __('common.readMoreWithTitle', ['title' => $announcement->getLocalizedData('title')]) }}
                </span>
            </a>
        </div>
    </div>
</article>{{-- .obj_announcement_summary --}}
